@charset "UTF-8";

/*@import url('https://fonts.googleapis.com/css?family=Cousine&subset=hebrew');*/



:root {
    --iBorderColor: #ccc;
    --iActiveColor: #45a049;
    --iMenuBorderColor: #333;
}

html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%;
    cursor: default;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


img, video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1rem;
    font-family: 'Assistant','Trebuchet MS', sans-serif;
    background: #fff;
}




*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Assistant','Trebuchet MS', sans-serif;
    background: #f1f1f1;
    cursor: default;
}

body, div {
    margin: 0;
    padding: 0;
}



input[type=text], input[type=number], select {
    width: 75%;
    padding: 12px 14px;
    margin: 0;
    display: inline-block;
    border: 1px solid var(--iBorderColor);
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 1rem;
    float: right;
}

select { padding: 11px 14px; }

input[type=text]::placeholder { color: #bbb; }

input[type=submit], input[type=button], .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    float: right;
    display: block;
    clear: both;
}

input[type=number] { width: 80px; }
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    margin-top: 0;
    margin-right: -10px;
    height: 30px;
    display: block;
    transform: scale(1.5);
}


.ap_top {
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    height: 50px;
    box-shadow: 0 0 3px #4c4c4c;
}

.ap_Menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.ap_Menu div {
    display: flex;
    flex-direction: column;
    background: #fff;
    font-weight: 600;
    min-width: unset;
    color: #45a049;
    font-size: 1.2rem;
    position: relative;
}

.ap_Menu div:after {
    content: "Admin Panel";
    margin: auto 10px;
}

.ap_Menu a {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fff;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0;
    color: #555;
    padding-top: 7px;
    cursor: pointer;
    text-align: center;
}

.ap_Menu .btnClose {
    flex: 0;
    padding: 10px 10px;
    font-size: 18px;
    border: 1px solid #cacaca;
    background: #f7f7f7;
    margin: 5px 0 5px 5px;
    border-radius: 3px;
}


.ap_Menu a i { display: block; }

.ap_Menu a.ap_menu_current {
    background: #9af19d;
    color: #000000;
    border-left: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    box-shadow: 0 2px 0 #45a049;
}

.ap_Menu a:hover, .ap_menu_current:hover {
    background: #69d06d;
    color: #ffffff;
    transition: background-color .2s ease, color .2s ease;
}

.ap_Menu .btnClose:hover { transition: none; }


input[type=submit]:hover, input[type=button]:hover, .button:hover { background-color: var(--iActiveColor); }

#ap_content,
#ap_footer,
.ap_Menu {
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
}

label.lbl {
    font-weight: 600;
    font-size: 1rem;
    display: inline-block;
    clear: both;
    max-width: 25%;
    float: left;
    padding-top: 18px;
    line-height: 1rem;
}

label.lbl span {
    clear: both;
    color: #ef0000;
    font-size: 0.7rem;
}

label.lbl.bool { max-width: 90%; }


#ap_code_result_text {
    font-size: 0.9rem;
    font-family: 'Cousine', monospace;
    resize: none;
    max-width: 100%;
    border: 1px solid var(--iBorderColor);
    border-radius: 5px;
    padding: 4px 8px;
}


/* Switch checkbox */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
    margin: 0;
}

.switch input { display:none; }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--iBorderColor);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3px;
}

input:checked + .slider {
    background-color: var(--iActiveColor);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--iActiveColor);;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.lst_container {
    position: relative;
    clear: both;
    display: flex;
    padding: 7px;
    border-bottom: 1px dashed #c1c1c1;
}
.lst_container:hover { background: #f7f7f7; border-radius: 7px; }

.lst_container:last-child {border-bottom: none; }

.lst_container .button:first-child { border-radius: 0 3px 3px 0; }
.lst_container .button:last-child { border-radius: 3px 0 0 3px; }

.button {
    width: 7.2rem;
    font-size: 0.9rem;
    border-radius: 0;
    border-left: 2px solid #f1f1f1;
    text-align: center;
    padding: 6px 0 4px;
}
.button span { display: block; }

.button i { font-size: 16px; display: block; padding-bottom: 3px; }

.lst_label {
    font-weight: 600;
    font-size: 1rem;
    flex: 1;
    margin: auto;
    color: #000;
}

.lst_label span {
    font-size: 0.7rem;
    line-height: 1rem;
    display: block;
    color: #de0000;
}

#ap_footer div {
    border-bottom: none;
    flex-direction: row-reverse;
    padding-top: 20px;
    margin: 0 auto;
    width: max-content;
}

#ap_footer div:hover {
    background: none; border-radius: 0;
}


@media only screen and (max-width:600px) {
    .ap_Menu div:after { content: "AP"; }
    .ap_Menu a:not(.btnClose) { padding: 0!important; }
    .ap_Menu a span { display: none; }
    .ap_Menu a:not(.btnClose) i {
        font-size: 1.4rem;
        margin: auto 0;
    }
}




#ap_c_language input[type=text] { font-size: 0.9rem!important; max-width: 50%; }
#ap_c_language input[type=text] { direction: rtl; }

#ap_c_pages { margin-bottom: 100px; }

.hide { display: none; }

.show:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 16px;
    display: block;
    padding-bottom: 3px;
}

.show[data-show="0"]:before { content: "\f070"; }
.show[data-show="1"]:before { content: "\f06e"; }






/* -------  Nestebale  ------- */



.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }

a { color: #2996cc; }
a:hover { text-decoration: none; }


.small { color: #666; font-size: 0.875em; }
.large { font-size: 1.25em; }

/* Nestable */

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 1rem; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 1rem; line-height: 20px; }

.dd-handle {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #949494;
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/* Nestable Extras */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

    .dd { width: 48%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/* Nestable Draggable Handles */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }

/* Socialite */

.socialite { display: block; float: left; height: 35px; }
