@charset "utf-8";

#guideContent a { position: relative; }
#guideContent a:after {
    left: 0;
    margin-left: -20px;
    z-index: 1;
}

#guideContent img, video { margin: 1rem auto; }

/* width */
#guideContent ::-webkit-scrollbar { width: 8px; height: 8px; }

/* Track */
#guideContent ::-webkit-scrollbar-track { background: #f6f6f6; }

/* Handle */
#guideContent ::-webkit-scrollbar-thumb {  background: #ccc ; }

/* Handle on hover */
#guideContent ::-webkit-scrollbar-thumb:hover { background: var(--sbBg); }

/* Headings  H1- H6 */
#guideContent h1,
#guideContent h2,
#guideContent h3,
#guideContent h4,
#guideContent h5,
#guideContent h6 {
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 150%;
   /* font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;*/
    /*letter-spacing: -0px;*/
}

#guideContent h1 { font-size: 4rem; text-align: center; }
#guideContent h2 { font-size: 3rem; }
#guideContent h3 { font-size: 2.6rem; }
#guideContent h4 { font-size: 2.2rem; }
#guideContent h5 { font-size: 1.8rem; }
#guideContent h6 { font-size: 1.4rem; }


#guideContent blockquote {
    --bq-info: 'מידע';
    --bq-warning: 'שים לב';
    --bq-note: 'הערה';
    --bq-tip: 'טיפ שימושי';

    --bq-right: -60px;
    --bq-cR: -20px;
}

#guideContent blockquote {
    border-right: 10px solid #F0F2F4;
    margin: 2rem 0;
    padding-right: 10px;
}

#guideContent blockquote .fas, #guideContent blockquote .far { padding-left: 8px; }

#guideContent blockquote p {
    font-size: 1.1rem;
    color: #999;
}

#guideContent blockquote i { padding-left: 6px; }

#guideContent blockquote cite {
    display: block;
    text-align: left;
    color: #666;
    font-size: 1.2rem;
}

#guideContent blockquote cite:before { content:'\2014 \0020'; }

#guideContent blockquote { position: relative; }

#guideContent blockquote blockquote { position: static; }

#guideContent blockquote > blockquote > blockquote { margin: 0; cursor: help; }

/* base */
#guideContent blockquote > blockquote > blockquote p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}
#guideContent blockquote > blockquote > blockquote p:first-child:before {
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    top: 2px;
    color: #fff;
    /*content: '\f05a';*/
    right: 0;
}
#guideContent blockquote > blockquote > blockquote p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    font-weight: 600;
    right: 25px;
    /*content: var(--bq-info);*/
}

#guideContent blockquote > blockquote > blockquote > p {
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
    /*margin-right: -135px;
    margin-left: -80px;*/
    margin-right: var(--bq-right);
    color: #444;
    font-weight: 600;
    padding: 10px 15px;
}

/* yellow */
#guideContent blockquote > blockquote > blockquote p:first-child:before { content: '\f4ad'; }
#guideContent blockquote > blockquote > blockquote p:first-child:after { content: var(--bq-note);}

/* red */
#guideContent blockquote > blockquote > blockquote > blockquote > p {
    margin-right: calc(var(--bq-right) + (var(--bq-cR) * 1));
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2; }
#guideContent blockquote > blockquote > blockquote > blockquote > p:first-child:before { content: '\f071'; }
#guideContent blockquote > blockquote > blockquote > blockquote > p:first-child:after { content: var(--bq-warning); }

/* blue */
#guideContent blockquote > blockquote > blockquote > blockquote > blockquote > p {
    margin-right: calc(var(--bq-right) + (var(--bq-cR) * 2));
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA; }
#guideContent blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child:before { content: '\f05a' }
#guideContent blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child:after { content: var(--bq-info); }

/* greed */
#guideContent blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p {
    margin-right: calc(var(--bq-right) + (var(--bq-cR) * 3));
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6; }
#guideContent blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child:before { content: '\f0eb'; } /*f19d*/
#guideContent blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child:after { content: var(--bq-tip); }


#guideContent code,
#guideContent kbd,
#guideContent pre,
#guideContent samp {
    font-family: "Inconsolata", monospace;
    direction: ltr;
}

#guideContent code {
    background: #f9f2f4;
    color: #9c1d3d;
    padding: .2rem .4rem;
    border-radius: 3px; }

#guideContent pre {
    padding: 1rem;
    margin: 2rem 0;
    background: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 2px;
    line-height: 1.15;
    font-size: 1rem; }

#guideContent pre code {
    color: #237794;
    display: block;
    background: inherit;
    overflow-x: auto;
    padding: .5em;
    font-size: 1rem; }

#guideContent hr {
    border-bottom: 4px solid #F0F2F4;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.7rem 0;
}



