@charset "utf-8";



/* Variables */
:root {
    /* sidebar */
    --sbBg: #363a41; /*#38424D;*/
    --sbBgOpen: #202226;
    --sbIBg: #202226;
    --sbIColor: #bebebe;

    --sbAccent: #1694CA;
    --sbAccentHover: #18abea;

    --tocPadR: 16px; /* Toc menu sub items padding */

    --scrumbsPad: 6px;

}




html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    letter-spacing: -.01rem;
    font-size: 100%;
    cursor: default;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


img, video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1rem;
    line-height: 1.7;
    font-family: 'Assistant','Trebuchet MS', sans-serif;
    background: #fff;
}

    

a {
    background: transparent;
    text-decoration: none;
    color: #1694CA;
}

a:hover { color: #de0000; }

#guideContent a:hover { color: #f70000; }

#guideContent a:hover:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 12px;
    padding: 6px 4px;
    margin-bottom: 0;
    content: "\f0c1";
    position: absolute;
    background: #fff;
    border-radius: 3px;
}





/* Always show scroll bar to prevent content movement */

/* Scrollbar */
html { overflow-y: hidden; }

/* width */
::-webkit-scrollbar { width: 8px; float: left; }

/* Track */
::-webkit-scrollbar-track { background: #fff; }

/* Handle */
::-webkit-scrollbar-thumb {  background: var(--sbAccent); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: var(--sbAccentHover); }





/* Content */



    
#sidebar {
    height: 100%;
    z-index: 3;
    overflow-x: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    background: var(--sbBg);
    border-left: 1px solid #000;
    width: 300px;
    overflow-y: hidden;
    transition: all 0.5s ease;
    cursor: default;
}
    
#sidebarCover {
    background:rgba(50, 50, 50, 0.85);
    display: none; 
    width: 100%; 
    height: 100%;
    z-index:1;
    cursor: pointer; 
    position: fixed;
}

#logo {
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    display: block;
    line-height: normal;
    background: var(--sbAccent);
    padding: 0.5rem 0 0.6rem;
    border-bottom: 3px solid #1077a2;
    transition: background 0.1s ease;
}
#logo:hover {
    background: var(--sbAccentHover);
}

#logoIcon {
    border-radius: 5px;
    box-shadow: 0 0 10px #7ac7e8;
}

#logoTitle {
    font-size: 2.4rem;
    color: #FFF;
    text-shadow: 0 0 4px #000;
}

#logoSubTitle {
    font-size: 1.3rem;
    color: #38424d;
}

#main { 
    margin-right: 300px;
    position: relative;
    min-height: 100%;
    transition: all 0.5s ease;
    display: block;
    overflow-y: scroll;
    height: 100vh;
}

.content {
    padding: 2rem 6rem;
    max-width: 1000px;
    min-width: 320px;
}

#topPageData {
    display: flex; 
    width: 100%; 
    background: #F6F6F6;
    min-height: 48px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    cursor: default;
}

#btnToggleSidebar
{ 
    width: 50px;
    display: flex;
    margin: 2px;
    border-radius: 3px;
    padding: 7px 0;
    transition: color 0.1s ease, background 0.3s ease; 
}
#btnToggleSidebar:hover {
    color:white;
    background: var(--sbAccent);
}
#btnToggleSidebar i { 
    font-size: 30px; 
    margin: auto; 
}

#mTopData {
    position: relative;
    width: 100%; 
}

#mTopData.hideDetails #mBreadcrumbs { line-height: 46px; }

#mTopData.hideDetails #mPageDetails { display: none; }

#mBreadcrumbs {
    clear: none;
    margin: 0 16px 0 0;
    font-size: 18px;
    display: flex;
    flex-flow: row;
}

#mBreadcrumbs :not(:first-child)::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 13px;
    content: "\f0d9";
    padding: 0 8px 0 6px;
    color: #c1c1c1;
}

#btnAdminEdit { 
    top: 0;
    left: 0;
    position: absolute;
    height: 30px;
    width: 34px;
    text-align: center;
}

#mPageDetails { 
    clear:both;
    background: #ececec;
    border: 3px solid #ffffff;
    border-radius: 6px;
    height: auto;
    font-size: 13px;
    flex: 1;
    margin: 0 8px -24px 8px;
}

.info {
    background: #F6F6F6;
    border-radius: 2px;
    margin: 0 -1rem 2rem;
    padding: 0 1rem;
}

#txt_pageTitle {
    font-size: 3.8rem;
    text-align: center;
    font-weight: bold;
    color: #009bde;
    margin: 4rem 0;
    line-height: normal;
    text-shadow: 1px 1px 1px #006b98;
}

#pd_author { flex: 33.33%; }

#img_author {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: none;
    margin: 2px 2px 2px 6px;
    float: right;
}

#txt_author { padding-right: 4px; }

#pd_readingTime {
    flex: 33.33%; 
    text-align: center; 
    color: #929292;
}

#pd_dateDiv {
    flex: 33.33%; 
    text-align: left; 
    color: #000;
}

#txt_date:after {
    font-family: 'Font Awesome 5 Free';  /*'Font Awesome\ 5 Free';*/
    font-weight: normal;
    content: "\f073";
    padding: 0 4px; 
    font-size: 14px; 
    color: #888;
}



/* Page navigation */

#navigation div i { 
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#navigation div {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60px;
    font-size: 50px;
    height: 100%;
    cursor: pointer;
    display: table;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #e6e6e6;
}

#navigation div:hover {
    background: #F6F6F6;
    color: var(--sbAccent);
}

#btn_navNext {
    right: unset;
    left: 8px;
    margin-right: unset;
    margin-left: 0;
}





/* Media Queries */



/* hide reading time when screen is not wide enough*/
@media only screen and (max-width: 472px) {
   
    #pd_readingTime { display: none; } 
 
    #pd_author { flex: auto; }
}

@media only screen and (max-width: 800px) {

    #sidebar {
        margin-right:-300px;
        right:-1px;
    }

    #main {
        padding: 0;
        margin: 0; 
    }

    .content { padding: 0; }

    #guideContent { padding: 0 20px 0 10px; }
    
    #topPageData {
        border-radius: 0;
        border-right: 0;
        border-top: 0;
    }

    #btnToggleSidebar {
        display: flex;
    }

    #mBreadcrumbs :not(:first-child)::before {
        content: '\21b5'; /* ↵ */
        padding-left: 4px;
        font-weight: normal;
        font-size: 1rem;
    }

    #mBreadcrumbs {
        line-height: normal;
        display: flex;
        flex-flow: column;
    }

   /* #mBreadscrumbs :nth-child(2){ padding-right: var(--scrumbsPad); }*/
    #mBreadcrumbs :nth-child(3){ padding-right: calc(var(--scrumbsPad) * 1); }
    #mBreadcrumbs :nth-child(4){ padding-right: calc(var(--scrumbsPad) * 2); }
    #mBreadcrumbs :nth-child(5){ padding-right: calc(var(--scrumbsPad) * 3); }
    #mBreadcrumbs :nth-child(6){ padding-right: calc(var(--scrumbsPad) * 4); }
    #mBreadcrumbs :nth-child(7){ padding-right: calc(var(--scrumbsPad) * 5); }
    #mBreadcrumbs :nth-child(8){ padding-right: calc(var(--scrumbsPad) * 6); }


}

@media only screen and (min-width: 801px) {

    #sidebar {
        width: 230px;
        margin-right: 0;
    }

    #logoTitle { font-size: 2.1rem; }

    #main {
        padding: 0;
        margin-right: 230px; 
    }

    .content {
        padding: 1rem 1rem 1rem 0.5rem;
    }

    #btnToggleSidebar { display: none; }

}

@media only screen and (max-width: 1000px) {

    #logoTitle { font-size: 2.4rem; }

    #navigation {
        position: static;
        margin-right: 0!important;
        width: 100%;
        display: table;
    }

    #navigation div {
        display: table-cell;
        position: static;
        top: auto;
        width: 50%;
        text-align: center;
        height: 100px;
        line-height: 100px;
        padding-top: 0;
    }

    #navigation div i {  display: initial; }

}

@media only screen and (min-width: 1001px) {

    /*#mBreadcrumbs :not(:first-child)::before {}*/

    #sidebar {
        width: 300px;
        margin-right: 0;
    }

    #logoTitle { font-size: 2.4rem; }

    #main {
        padding: 0;
        margin-right: 300px; 
    }

    .content { padding: 1rem 4rem; }

}

@media only screen and (min-width: 1200px) {

    .content { padding: 2rem 6rem; }

}



@media print {

    @Page { margin: 2cm auto; }

    body {
        /* filter: Gray();*/ /* IE4-8 and 9 (deprecated). */
        /*  filter: url('#grayscale'); */ /* SVG version for IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
        /* -webkit-filter: grayscale(100%); *//* CSS3 filter, at the moment Webkit only. Prefix it for future implementations */
        /*filter: grayscale(100%);*/ /* future-proof */
    }

    img, video {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    #main {
        margin: 0;
        height: 100%;

        /*-webkit-filter: grayscale(100%);
        filter: grayscale(100%);*/
    }

    #navigation,
    #sidebar,
    #sidebarCover,
    #btnAdminEdit,
    #btnToggleSidebar,
    #img_author
    { display: none!important; }

    #topPageData,
    #mPageDetails,
    #mBreadcrumbs
    {
        border: 0;
        border-radius: 0;
        background: none;
        margin: 0!important;
    }

    #txt_pageTitle {
        text-shadow: none;
        color: #000;
        font-weight: 400;
    }

    #mBreadcrumbs a { color: #000; }
    #mPageDetails { border-top: 1px solid #000; }

    blockquote, pre { page-break-inside: avoid; }
}

#guideContent[data-direction="ltr"] { direction: ltr!important; }
#guideContent[data-direction="rtl"] { direction: rtl!important; }

/* Error page style */
body[data-type="error"] #main #guideContent { text-align: center!important; }
body[data-type="error"] #main a:hover:after { display: none!important; }
body[data-type="error"] #main #topPageData { display: none!important; }
body[data-type="error"] #main #txt_chapterNum { display: none!important; }
body[data-type="error"] #main #txt_pageTitle {
    background-color: #989898;
    color: transparent;
    text-shadow: 2px 2px 3px #ffffff80;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

/* Admin panel page style */
body[data-type="admin"] #main a:hover:after { display: none!important; }
body[data-type="admin"] #main #topPageData { display: none!important; }
body[data-type="admin"] #main #txt_chapterNum { display: none!important; }
body[data-type="admin"] #main #txt_pageTitle { display: none; }
body[data-type="admin"] #main #btnAdminPanel { color: #fff; }
body[data-type="admin"] #main #navigation { display: none; }
body[data-type="admin"] #main .content { padding: 0; max-width: unset; }
body[data-type="admin"] #sidebar { display: none; }
body[data-type="admin"] #main {
    margin: 0 auto;
    background: #f1f1f1;
}

/* Chapter page style */
body[data-type="chapter"] #main #topPageData { display: none!important; }
body[data-type="chapter"] #main #guideContent { text-align: center!important; }

/* Chapter page style */
body[data-type="special"] #main #topPageData { display: none!important; }
body[data-type="special"] #main #guideContent { text-align: center!important; }
body[data-type="special"] #main #txt_chapterNum { display: none!important; }
body[data-type="special"] #main #txt_pageTitle { margin: 2rem 0 4rem; }


#sidebar .button {
    position: absolute;
    bottom: 0;
    width: 36px;
    height: 24px;
    font-size: 1rem;
    display: block;
    cursor: pointer;
}
#sidebar .button:before { vertical-align: sub; }
#sidebar .button:hover { background: var(--sbBgOpen); color: #f5f5f5; }

#btnExpandItems {
    font-weight: 400;
    left: 0;
}

#btnClearBookmarks { right: 0; }

#btnAdminPanel { left: 0; }

#tocMenu {
    overflow-y: auto;
    position: absolute;
    top: 161px;
    bottom: 25px;
    width: 100%;
}
#tocMenu a {
    color: #bbb;
    padding: 4px 1px;
    font-size: 1rem;
    position: relative;
    font-weight: 600;
}
#tocMenu a:hover {
    color: #fff;
    background: var(--sbBgOpen);
    transition: background-color .3s ease, color .3s ease;
}

/* toc list expanded */
#tocMenu.expanded { background: var(--sbBgOpen); }
#tocMenu.expanded a[data-level="1"]:not(:first-child), #tocMenu.expanded a[data-level="0"]:not(:first-child) { border-top: 1px dashed #363a41; }

/* expand child items */
#tocMenu a[data-show="0"] { display: none; background: var(--sbBg);}
#tocMenu a[data-show="1"] { display: block; background: var(--sbBgOpen); }

/* always show chapters */
#tocMenu a[data-level="1"][data-show="0"],
#tocMenu a[data-level="0"][data-show="0"],
#tocMenu a[data-level="1"][data-show="1"],
#tocMenu a[data-level="0"][data-show="1"]
{ display: block; }

#tocMenu a[data-level="1"],
#tocMenu a[data-level="0"] {
    font-weight: 600;
    font-size: 1.1rem;
    color: #dadada;
    padding: 3px 0 5px;
}

#tocMenu a[data-level="1"]:hover,
#tocMenu a[data-level="0"]:hover {
    color: #fff;
    background: var(--sbBgOpen);
}

#tocMenu a[data-level="1"]:before,
#tocMenu a[data-level="0"]:before {
    color: #b1b1b1;
}

#tocMenu a[data-level="1"]:before {
    font-weight: 400;
    padding-left: 3px;
    font-size: 1rem;
    content: attr(data-chapter) '.';
}

#tocMenu a[data-level="0"]:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: "\f0c1";
    font-size: 0.8rem;
    padding-right: 10px;
    padding-left: 6px;
}

#tocMenu a[data-level="1"][data-bookmark]:after,
#tocMenu a[data-level="0"][data-bookmark]:after {
    top: 11px;
}

#tocMenu a[data-level="1"] { padding-right: 10px; }
#tocMenu a[data-level="2"] { padding-right: calc(var(--tocPadR) * 2); }
#tocMenu a[data-level="3"] { padding-right: calc(var(--tocPadR) * 3); }
#tocMenu a[data-level="4"] { padding-right: calc(var(--tocPadR) * 4); }
#tocMenu a[data-level="5"] { padding-right: calc(var(--tocPadR) * 5); }
#tocMenu a[data-level="6"] { padding-right: calc(var(--tocPadR) * 6); }
#tocMenu a[data-level="7"] { padding-right: calc(var(--tocPadR) * 7); }
#tocMenu a[data-level="8"] { padding-right: calc(var(--tocPadR) * 8); }

/* currently selected menu item */
.current {
    border-right: 6px solid #1694ca!important;
    color: #fff!important;
    text-shadow: 1px 1px 2px #000;
    background: #000!important;
}

[data-bookmark]:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 11px;
    position: absolute;
    left: 8px;
    top: 8px;
}
[data-bookmark="0"]:after { display: none; }
[data-bookmark="1"]:after {
    content: "\f00c"; /* check mark */
    color: var(--sbAccent);
}
[data-bookmark="2"]:after {
    content: "\f0aa"; /* up arrow */
    color: #ffb300;
}

.lbl_Toc {
    font-weight: 600;
    font-size: 0.9rem;
    position: relative;
    border-bottom: 1px solid;
}

.copyright {
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    border-top: 1px solid;
    line-height: 23px;
}

.copyright, .lbl_Toc {
    width: 100%;
    color: #b3b3b3;
    background: #363a41;
    border-color: #2f2f2f;
    text-align: center;
    height: 25px;
}

#txt_chapterNum {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: #848484;
    margin-bottom: -2rem;
}

#sidebar[data-display="0"] { margin-right: -300px; }

#sidebar[data-display="1"] { margin-right: 0; }

#sidebar[data-display="0"] #sidebarCover { display: none; }

#sidebar[data-display="1"] #sidebarCover { display: block; }






