{
"title":"מאפייני התוכנה",
"template":"special",
"writer":"dF",
"date":"",
"update":"",
"info":true,
"direction":"rtl",
"wordCount":-1,
"misc":""
}
≡
<style>
    .gp_features_container { display: flex; flex-direction: column; text-align: initial!important; }
    .gp_features_container img { max-width: 400px; height: auto; margin-top: 2rem!important;
        margin-bottom: 0!important; box-shadow: 0 0 6px #929292; }
    .gp_features_container > div { display: flex; padding-bottom: 6rem; }
    .gp_features_container > div:nth-child(2n+1) { display: flex; flex-direction: row-reverse; }
    .gp_features_container > div:nth-child(2n+1) img { margin-left: 2rem!important; }
    .gp_features_container > div:nth-child(2n) img { margin-right: 2rem!important; }
    .gp_features_container > div > div:first-child { flex: auto; }
    .gp_features_container h3,
    .gp_features_container h2 {
        margin-top: 0; margin-bottom: 2rem; color:var(--sbAccent); }
    .gp_features_container > p { padding-bottom: 5rem; }
</style>
<div class="gp_features_container">
    <p>
        We have the same srcset element as the last section, but instead of the 1x and 2x descriptors, we’re providing the inherent physical width of the image. The 2000w tells the browser that the photo-big.jpg file is 2000 pixels wide. Likewise, the 1000w means photo-small.jpg has a width of 1000 pixels. If you’re wondering about that w character, it’s a special unit used only for this kind of image optimization scenario.
    </p>

    <div>
        <div>
            <h2>ניהול רשימת לקוחות</h2>
            <p>
                If you’re just joining us, go ahead and download the complete example project, unzip it, and open it up with Atom. If you’re not familiar with the Atom text editor, be sure to take a read through the introduction of this tutorial series.
            </p>
        </div>
        <div><img src="ft1.png"></div>
    </div>


    <div>
        <div>
            <h2>ביצוע דוחות מעקב</h2>
            <p>
                ניתן ליצור דוחות מעקב עבור 3 סוגי דוחות: מעקב דו-חודשי עבור תשלומים, החזרי בלו עבור כלי רכב של הלקוח ודוח תשלומים של הלקוח
            </p>
        </div>
        <div><img src="ft2.png"></div>
    </div>

    <h2>סוגי דוחות</h2>
    <p>
        ניתן ליצור דוחות מעקב עבור 3 סוגי דוחות: מעקב דו-חודשי עבור תשלומים, החזרי בלו עבור כלי רכב של הלקוח ודוח תשלומים של הלקוח
    </p>

    <div>
        <div>
            <h3>דוח מעקב דו-חודשי</h3>
            <p>
                סוג דוח זה מיועד לשמירת נתוני חיוב של הלקוח לביטוח לאומי ומס הכנסה.
                <br>
            </p>
        </div>
        <div><img src="ft3.png"></div>
    </div>

    <div>
        <div>
            <h3>דוח החזרי בלו</h3>
            <p>
                ס הלקוח לביטוח לאומי ומס הכנסה.
                <br>
            </p>
        </div>
        <div><img src="ft4.png"></div>
    </div>

    <div>
        <div>
            <h3>דוח חיוב לקוח</h3>
            <p>
                סוג דוח זה מיועד לשמירת נתוני חיוב של הלקוח לביטוח לאומי ומס הכנסה.
                <br>
            </p>
        </div>
        <div><img src="ft5.png"></div>
    </div>


    <div>
        <div>
            <h2>יצירת משימות לביצוע</h2>
            <p>
                ניתן ליצור דוחות מעקב עבור 3 סוגי דוחות: מעקב דו-חודשי עבור תשלומים, החזרי בלו עבור כלי רכב של הלקוח ודוח תשלומים של הלקוח
            </p>
        </div>
        <div><img src="ft6.png"></div>
    </div>

    <div>
        <div>
            <h2>Retina Screens</h2>
            <p>This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up. If all items have flex-grow set to 1, the remaining space in the container will be distributed equally to all children. If one of the children has a value of 2, the remaining space would take up twice as much space as the others (or it will try to, at least).</p>
        </div>
        <div><img src="https://octodex.github.com/images/steroidtocat.png"></div>
    </div>


    <div>
        <div>
            <h2>Responsive png, gif, and jpg images</h2>
            <p>Browsers automatically scale up SVGs for retina devices, so this 500×250 pixel SVG image will render crisply on both standard and retina devices.

                SVGs let us forget about screen resolution issues, but we do need to shrink the illustration to fit neatly into our fluid tablet and mobile layouts. Firefox will do this automatically, but if you open this page with Chrome and make your browser very narrow, you’ll find that the image stays the same size.

                To get a fluid image in Chrome, we need to tell the illustration to always fill the width of its container. In styles.css, put the following rule with the rest of the base styles, outside of the media queries:</p>
        </div>
        <div><img src="https://octodex.github.com/images/femalecodertocat.png"></div>
    </div>


    <div>
        <div>
            <h2>Screen width optimization using srcset</h2>
            <p>Imagine that we wanted to display a big photo in our .header element. The header is 960 pixels wide in our desktop layout, so our photo needs to be at least 1920 pixels wide to display well on retina screens. We’ll also provide a 960 pixel-wide photo for standard screens. Now, consider a smartphone with a retina screen. Smartphones are typically less than 400 pixels wide in portrait mode, which means that the corresponding retina-quality image would only need to be 800(ish) pixels wide.
            </p>
        </div>
        <div><img src="https://octodex.github.com/images/heisencat.png"></div>
    </div>


</div>